*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #0a39c9;
}

nav a{
    color: bisque;
    font-size: 11px;
}

nav h3{
    background-color: #ededed;
    padding: 10px 10px;    
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    font-weight: bold;
    font-size: 22px;
}
.nav-btn{
    background-color: black;
    padding: 10px 10px;
    position: relative;
    right: 130px;
}

.nav-btn h3{
    color: rgb(234, 232, 232);
    background-color: black;
}

.center-link{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 10px 20px;
}

.center-link ul{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

main a{
    color: black;
}


.placeholder input{
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px;
    background-color: rgb(249, 249, 247);
    width: 90%;
    margin-top: 2rem;
    padding: 10px 20px;
    border-color: aliceblue;
    border-top: 2px solid rgb(212, 226, 238) ;
    border-bottom: 3px solid rgb(212, 226, 238);
    color: black;
    font-size: 25px;

}

.template input{
    border-radius: 5px;
    background-color: black;
    color: beige;
    padding: 10px 20px;
    position: relative;
    left: 1200px;
    bottom: 64px;
    padding: 17px 45px;
    font-weight: bold;
    font-size: 15px;
    border-width: 0;
}

#about{
    background-color: #0a39c9;
    padding: 50px 80px;
    margin-bottom: 4rem;
}

.about-header p{
    text-align: center;
    color: beige;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.about-header h1{
    text-align: center;
    color: bisque;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;

}

.about-content p{
    text-align: center;
    color: bisque;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

#about input{
    background-color: black;
    border-radius: 50px;
    color: bisque;
    position: relative;
    left: 500px;
    padding: 15px 30px;
    font-weight: bold;
    margin: 20px 0;
    border-width: 0;
}

#about img{
    margin: 40px 0;
}

#article{
    display: flex;
    border: 1px solid black;
    margin-top: 2rem;
}

.article-content{
    border-right: 2px solid black;
    
    
}

.article-content h2{
    font-weight: bold;
    font-size: 40px;
    width: 80%;
    padding: 10px 20px;
    padding-left: 2rem;
    margin-top: 1rem;
}

.article-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article-link{
    border-right: 2px solid black;
    width: 100%;
    padding: 15px 30px;
    /* padding: 10px 20zpx; */
}

.article-link{
    width: 100%;
    padding: 0 0;
}

.article-link h3{
    font-weight: bold;
    font-size: 25px;
}

.article-link p{
    font-size: 15px;
}

.article-sale h3{
    margin-top: 10px;
    padding: 8px 8px;
}

.article-sale p{
    padding: 8px 8px;
    font-size: 15px;
    position: relative;
    bottom: 15px;
}

.article-colunm div h3{
    padding: 15px 30px;
}

.article-center{
    border-right: 2px solid black;
    width: 100%;
}

.article-size h3{
    margin-top: 10px;
    padding: 8px 8px;
}

.article-size p{
    padding: 8px 8px;
    font-size: 15px;
    position: relative;
    bottom: 15px;
}

.article-center{
    width: 100%;
    padding: 0 0;
}

.article-center h3{
    font-weight: bold;
    font-size: 25px; 
}

.article-center p{
    font-size: 15px;
}

.article-colunm{
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px 10px;
    /* padding: 10px 20px; */
}

.article-colunm{
    width: 100%;
    padding: 20px 10px;
}

.article-select{
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px 10px;
}

.article-online{
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px 10px;
}

.article-template{
    width: 100%;
    padding: 20px 10;
}

.article-template h3{
    font-weight: bold;
    font-size: 25px;
}

.article-logo{
    width: 100%;
    padding: 0 0;
}

.article-template p{
    font-size: 15px;

}

.article-logo h3{
    margin-top: 10px;
    padding: 8px 8px;
}

.article-logo p{
    padding: 8px 8px;
    position: relative;
    bottom: 15px;
}

#content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.content-header img{
    position: relative;
    left: 120px;
}

.content-header ul{
    font-size: 18px;
    padding-left: 10rem;
    margin-top: 2rem;
}

.content-header ul p{
    margin-top: 1rem;
}

.content-header input{
    border-radius: 20px;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
    border-width: 0;
    padding: 15px 30px;
    font-size: 20px;
    position: relative;
    left: 150px;
    margin-top: 2rem;
}

#content img{
    width: 100%;
}

#testimonial{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 20px 20px;
}

#testimonial h2{
    font-weight: bold;
    font-size: 60px;
    position: relative;
    right: 200px;
     
}

#testimonial p{
    font-size: 18px;
    margin-top: 1rem;
    position: relative;
    right: 200px;
}

#testimonial input{
    border-radius: 30px;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    border-width: 0;
    position: relative;
    left:50px;
    bottom: 120px;
}

#online{
    background-color: #0a39c9;
    padding: 40px 70px;
}

#online h2{
    font-weight: bold;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}

#online p{
    font-size: 18px;
    margin-top: 1rem;
    color: antiquewhite;
    text-align: center;
}

.online-header img{
    width: 60%;
}

.online-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-right: 10rem;
}

.online-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.online-content img{
    width: 50%;
}

#online input{
    border-radius: 30px;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    border-width: 0;
    position: relative;
    left: 400px;
    margin-top: 3rem;
}

#link h3{
    font-weight: bold;
    font-size: 50px;
    margin-top: 3rem;
    padding: 15px 15px;
}

#link p{
    font-size: 18px;
    padding: 15px 15px;
}

#link input{
    margin-left: 3rem;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: bold;
}

.link-header input{
    background-color: black;
    color: #ededed;
    position: relative;
    left: 1200px;
    bottom: 50px;
}

.link-header p{
    text-decoration: underline;
    position: relative;
    left: 1200px;
    bottom: 45px;
}

.link-content p{
    font-size: 1px;
    position: relative;
    bottom: 70px;
    padding: 15px 15px;
}

#select{
    display: flex;
    background-color: #fef9e6;
    padding: 20px 40px;
    gap: 50px;
}

.select-header h2{
    font-size: 50px;
    font-weight: bold;
    width: 60%;
    margin-top: 3rem;
}

.select-header input{
    border-radius: 30px;
    background-color: black;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 2rem;
}

#select img{
    width: 125%;
    position: relative;
    right: 100px;
    bottom: 20px;
}

#colunm{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 4rem;
}

#colunm h2{
    font-weight: bold;
    font-size: 60px;
    width: 40%;
}

.media-content{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 12rem;
}

#media ul{
    display: flex;
    gap: 10px;
    padding-left: 6rem;
    margin-top: 5rem;
    gap: 50px;
}

#media ul p{
    font-size: 18px;
    width: 60%;
    /* box-shadow: 0 0 10px rgb(103, 163, 158); */
}

.media-header{
    background-color: #f5f7f8;
    width: 95%;
    padding: 10px 20px;
}

.media-link{
    background-color: #f5f7f8;
    width: 95%;
    padding: 10px 20px;
}

.media-colunm{
    background-color: #f5f7f8;
    width: 95%;
    padding: 10px 20px;
}

.media-size{
    width: 90%;
}

#logo{
    display: flex;
    gap: 100px;
    margin-top: 5rem;
    justify-content: space-between;
}

.logo-content h3{
    font-weight: bold;
    padding: 10px 20px;
}

.logo-content h2{
    font-weight: bold;
    font-size: 60px;
    padding: 10px 20px;
    width: 70%;
}.logo-content p{
    font-size: 20px;
    padding: 10px 20px;
}

#logo ul{
    font-weight: bold;
    font-size: 30px;
    width: 70%;
    gap: 20px;
    padding: 10px 20px;
}

#logo ul h3{
    margin-top: 2rem;
    width: 120%;
    padding-left: 1rem;
}

#style{
    background-color: rgb(9, 0, 0);
    padding: 30px 50px;
} 

#style a{
    color: #ededed;
    font-weight: bold;
}

.style-header{
    display: flex;

}

.style-header h3{
    color: #ededed;
    font-weight: bold;
    font-size: 50px;
    width: 50%;
}



.style-content{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.style-content h3{
    font-size: 20px;
}

.style-size input{
    border-radius: 30px;
    background-color: #fef9e6;
    padding: 20px 30px;
    width: 300%;
    border-width: 0;
}

.style-logo input{
    border-radius: 10px;
    background-color: #0a39c9;
    padding: 21px 40px;
    border-width: 0;
    position: relative;
    left: 580px;
    bottom: 58px;
    font-weight: bold;
    color: aliceblue;
    font-size: 15px;
}

.style-content ul{
    margin-top: 3rem;
}

.style-online{
    margin-top: 2rem;
}

.style-online h5{
    color: #ededed;
    font-weight: bold;
    font-size: 20px;
}

.style-online ul{
    display: flex;
    gap: 20px;
    margin-top: 1rem;

}
.style-link{
    display: flex;
    gap: 20px;
    margin-top: 1rem;
}

.style-link h3{
    color: #ededed;
}

#style p{
    color: #ededed;
    margin-top: 1rem;
}